/* MathOperation.css */
.math-operation {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 40px;
  width: 80px;
  border-bottom: 2px solid black;
  /* gap: 7px;
  background: yellow;
  border: 1px solid black; */
}

.number {
  margin-bottom: 10px;
  text-align: right;
  width: 100%;
}
.numbers {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.operator {
  align-self: end;
  margin-bottom: 12px;
}

.separator {
  width: 100%;
  border: 1px solid black;
  margin-left: -18px;
}
